body{
 background-color: #38697c;

}
.input-data{
  margin-top: 50px;
  padding: 30px;
  background-color: #86adfa;
  position: relative;
  left :10%;
}
.text-color{
  color: #38697c;
}
.btn-comment{
  position: relative;
  right:43%;
  background-color: #d6c956;
  font-weight: bold;
}